:root {
  --primary-color: #ffffff;
  --secondary-color: #212121;
  --third-color: #50717b;
  --forth-color: #3a4042;
  --hover-color: #8ecccc;
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Roboto", sans-serif;
}
body {
  background: rgb(32, 32, 32);
}
h1 h2 h3 h4 h5 h6 {
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  font-weight: 700;
}
h1 {
  font-size: 8vw;
}
h2 {
  font-size: 20px;
  font-style: italic;
  opacity: 0.5;
}
p {
  font-family: var(--default-font-family);
  font-weight: 400;
  color: var(--primary-color);
}

.hero {
  background: rgb(32, 32, 32);
  color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero2 {
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: lighter;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 400;
  line-height: 2;
  font-size: 24px;
}

.project-description {
  margin: auto;
  padding: 20px;
}

.button-large {
  background: var(--primary-color);
  border-radius: 50px;
  border-color: var(--primary-color);
  padding: 18px 30px;

  font-size: 14px;
  font-family: var(--default-font-family);
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--secondary-color);
  width: 200px;
}
.button-large:hover {
  background: var(--hover-color);
  border-color: var(--hover-color);
}
.button-small {
  background: var(--primary-color);
  border-radius: 40px;
  border-color: var(--primary-color);
  padding: 15px 20px;
  font-size: 12px;
  font-family: var(--default-font-family);
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--secondary-color);
}

.button-small:hover {
  background: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--primary-color);
}

.about-me h1 {
  color: var(--primary-color);
  font-size: 40px;
}
.logo {
  color: var(--hover-color);
  font-size: 20px;
}
.meLogo {
  max-width: 40px;
}
.projectHeading {
  color: var(--primary-color);
  font-size: 60px;
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: 400;
}
